<html>
<header>
	<style>
		* {
			margin: 0;
			padding: 0;
		}

		html, body {height: 100%;}

		main {
			width: 500px;
			margin: 0 auto;
			background-color: #fc6;
			min-height: 100%;
			padding: 10px;
		}

		h2 {
			color: #f30;
		}

		h3 {
			color: #633;
		}

		p {
			color: #903;
		}
	</style>
</header>

<body>
	<main>
		<h2>Все новости</h2><br>
		<h3>{{title1}}</h3><br>
  		<p>{{textNews1}}</p><br>
  		<h3>{{title2}}</h3><br>
  		<p>{{textNews2}}</p><br>
  		<h3>{{title3}}</h3><br>
  		<p>{{textNews3}}</p><br>
  		<h3>{{title4}}</h3><br>
  		<p>{{textNews4}}</p><br>
  		<h3>{{title5}}</h3><br>
  		<p>{{textNews5}}</p><br>
  	</main>
</body>
<html>
